streamlit
audio-recorder-streamlit
SpeechRecognition
tempfile
gtts
dotenv
google-generativeai
langchain-openai
pydantic
typing-extensions
langchain-core
langgraph
sqlalchemy
psycopg2-binary
smtplib
email
ssl
random
